<!-- About Section -->
    <section class="" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <hr>
                  <h2 class="intro-text text-center">
                      <strong>A Psicóloga</strong>
                  </h2>
                  <hr>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                    <img class="img-responsive img-border img-left" src="img/psicologa.jpeg" alt="" style="height: 250px;">
                    <hr class="visible-xs">
                    <p class="text-justify">Karina Vieira acredita que a união entre mente, corpo e alma possa nos auxiliar a alcançar um equilíbrio, promover o bem-estar, o desenvolvimento emocional, a evolução do ser humano como um todo e assim saber lidar com todas as situações adversas que nos são colocadas a todo o momento na vida.<br>
                    Apaixonada pela psicologia, resolveu empreender no mundo digital e sair do convencional. Aqui você vai encontrar informações sobre psicologia, mensagens para cultivar bons pensamentos e textos sobre temas que estuda constantemente dentro da psicologia, com uma abordagem atual e dinâmica. Sempre em busca de fazer do trabalho na internet e no consultório uma ajuda eficaz para quem precisa encontrar novas formas de lidar com as emoções, e ter mais qualidade de vida!<br>
                    O objetivo da psicóloga Karina Vieira é aprimorar seus conhecimentos constantemente, para garantir formas atualizadas e efetivas de atendimento, que adequadas ao momento de vida do paciente e ao seu contexto social,  somado ao amor e a motivação pela psicologia indo além do cientifico/teórico,  no intuito de alcançar a alma humana de uma maneira delicada e responsável. Encontrar o potencial de melhora e de saúde dentro da própria pessoa.<br>
                    Cada vez mais a psicologia tem se posicionado como uma ciência não apenas capaz de ‘tratar’ as pessoas, mas também de ajuda- lás a  se tornarem “a melhor versão de si mesmas”.</p>
                    <hr>
                    <p class="text-center"><strong>Visite o Site, o Blog, o Instagram, o Faceboook e descubra uma psicologia que busca o equilíbrio entre Mente, Corpo e alma.</strong></p>
              </div>
              <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Missão, Visão e Valores</strong>
                    </h2>
                    <hr>
                        <h4 class="text-center">Missão</h4>
                    <p>Promover o bem estar emocional e mental através do acolhimento, orientação, aplicando recursos psicológicos e garantindo a qualidade de vida.</p>

                    <hr>
                        <h4 class="text-center">Visão</h4>

                    <p>Tornar-se modelo de excelência na promoção da saúde mental. Ser a mudança de paradigma, o ponto de partida da busca por possibilidades, acreditando sempre no ser humano e atuando de forma ética e profissional.</p>

                    <hr>
                        <h4 class="text-center">Valores</h4>

                    <p><strong>Confiabilidade:</strong> atender com ética, transparência, idoneidade, segurança e responsabilidade.</p>

                    <p><strong>Qualidade:</strong> fazer o certo, de maneira certa. Demonstrando um genuíno interesse pelas pessoas e compreensão de sua história de vida com o olhar diferenciado.</p>

                    <p><strong>Respeito:</strong> reconhecer em cada ser humano uma individualidade singular e um potencial extraordinário a ser desenvolvido.</p>

                    <p><strong>Sustentabilidade:</strong> assegurar o nosso desenvolvimento pelos princípios econômicos, sociais e ambientais, colocando a educação como promotora destes princípios.</p>
                </div>
            </div>
        </div>
    </section>
